/**/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Maven ###
.mvn/
mvnw
mvnw.cmd

### Eclipse ###
.settings/
.gitignore.swp
.project
admin/.settings/
admin/bin/
admin/target/
admin/.classpath
admin/.project
user/.settings/
user/target/
user/.classpath
user/.project
