<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:fragment="cssFiles">
            <link rel="stylesheet" type="text/css" th:href="@{/template/PurpleAdmin/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
            <link rel="stylesheet" type="text/css" th:href="@{/template/PurpleAdmin/vendors/css/vendor.bundle.base.css}">
            <link rel="stylesheet" type="text/css" th:href="@{/template/PurpleAdmin/css/style.css}">
            <link rel="shortcut icon" th:href="@{/template/PurpleAdmin/images/favicon.png}" />
        </th:block>
    </head>
</html>
