<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="javascriptFiles">

            <script th:src="@{/template/stack-template/app-assets/vendors/js/vendors.min.js}" type="text/javascript"></script>

            <script th:src="@{/template/stack-template/app-assets/vendors/js/charts/raphael-min.js}" type="text/javascript"></script>
            <script th:src="@{/template/stack-template/app-assets/vendors/js/charts/morris.min.js}" type="text/javascript"></script>
            <script th:src="@{/template/stack-template/app-assets/vendors/js/extensions/unslider-min.js}" type="text/javascript"></script>
            <script th:src="@{/template/stack-template/app-assets/vendors/js/timeline/horizontal-timeline.js}" type="text/javascript"></script>

            <script th:src="@{/template/stack-template/app-assets/js/core/app-menu.min.js}" type="text/javascript"></script>
            <script th:src="@{/template/stack-template/app-assets/js/core/app.min.js}" type="text/javascript"></script>
            <script th:src="@{/template/stack-template/app-assets/js/scripts/customizer.min.js}" type="text/javascript"></script>

            <script th:src="@{/template/stack-template/app-assets/js/scripts/pages/dashboard-ecommerce.min.js}" type="text/javascript"></script>

        </th:block>
    </body>
</html>
