<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">PartnerPortal</title>
        <th:block th:include="common/css :: cssFiles" />
	</head>
	
	<body class="container-scroller">
		<th:block th:include="common/topbar :: topbar" />
		
		<div class="container-fluid page-body-wrapper">
	        <th:block th:include="common/sidebar :: sidebar" />
			
			<div class="main-panel">
		        <th:block layout:fragment="content" />
		
		        <th:block th:include="common/footer :: footer" />
	        </div>
		</div>
        <th:block th:include="common/js :: javascriptFiles" />
	</body>

</html>