<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:fragment="cssFiles">

            <link rel="apple-touch-icon" th:href="@{/admin/template/stack-template/app-assets/images/ico/apple-icon-120.png}">

            <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/images/ico/favicon.ico">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

            <link rel="stylesheet" type="text/css" th:href="@{/admin/template/stack-template/app-assets/css/vendors.min.css}">
            <link rel="stylesheet" type="text/css" th:href="@{/admin/template/stack-template/app-assets/vendors/css/extensions/unslider.css}">
            <link rel="stylesheet" type="text/css" th:href="@{/admin/template/stack-template/app-assets/vendors/css/weather-icons/climacons.min.css}">
            <link rel="stylesheet" type="text/css" th:href="@{/admin/template/stack-template/app-assets/fonts/meteocons/style.min.css}">
            <link rel="stylesheet" type="text/css" th:href="@{/admin/template/stack-template/app-assets/vendors/css/charts/morris.css}">

            <link rel="stylesheet" type="text/css" th:href="@{/admin/template/stack-template/app-assets/css/app.min.css}">

            <link rel="stylesheet" type="text/css" th:href="@{/admin/template/stack-template/app-assets/css/core/menu/menu-types/vertical-menu-modern.css}">
            <link rel="stylesheet" type="text/css" th:href="@{/admin/template/stack-template/app-assets/css/core/colors/palette-gradient.min.css}">
            <link rel="stylesheet" type="text/css" th:href="@{/admin/template/stack-template/app-assets/fonts/simple-line-icons/style.min.css}">
            <link rel="stylesheet" type="text/css" th:href="@{/admin/template/stack-template/app-assets/css/core/colors/palette-gradient.min.css}">
            <link rel="stylesheet" type="text/css" th:href="@{/admin/template/stack-template/app-assets/css/pages/timeline.min.css}">

            <link rel="stylesheet" type="text/css" th:href="@{/admin/template/stack-template/assets/css/style.css}">

        </th:block>
    </head>
</html>
