<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:fragment="javascriptFiles">

            <script type="text/javascript" th:src="@{/template/plus-template/js/jquery-3.1.1.min.js}"></script>
            <script type="text/javascript" th:src="@{/template/plus-template/js/bootstrap.min.js}"></script>
            <script type="text/javascript" th:src="@{/template/plus-template/js/owl.carousel.min.js}"></script>
            <script type="text/javascript" th:src="@{/template/plus-template/js/jquery.downCount.js}"></script>
            <script type="text/javascript" th:src="@{/template/plus-template/js/nouislider.min.js}"></script>
            <script type="text/javascript" th:src="@{/template/plus-template/js/jquery.sticky.js}"></script>
            <script type="text/javascript" th:src="@{/template/plus-template/js/pace.min.js}"></script>
            <script type="text/javascript" th:src="@{/template/plus-template/js/star-rating.min.js}"></script>
            <script type="text/javascript" th:src="@{/template/plus-template/js/wow.min.js}"></script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
            <script type="text/javascript" th:src="@{/template/plus-template/js/gmaps.js}"></script>
            <script type="text/javascript" th:src="@{/template/plus-template/js/swiper.min.js}"></script>
            <script type="text/javascript" th:src="@{/template/plus-template/js/main.js}"></script>

        </th:block>
    </head>
</html>
