<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>

    	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">PartnerPortal</title>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <th:block th:include="common/css :: cssFiles"/>

    </head>
    <body>

	    <th:block th:include="common/topbar :: topbar" />
	
	    <th:block layout:fragment="content" />
	
	    <th:block th:include="common/footer :: footer" />
	
	    <th:block th:include="common/js :: javascriptFiles" />

    </body>

</html>